/* Fonts */
/* Sizes */
/* Borders-sizes*/
/* border radius */
header {
  background-image: url(../imag/kongo.png);
  background-repeat: repeat-x;
  background-position-y: 3em;
  background-size: cover;
  background-repeat: no-repeat;
  background: #3f5efb;
  background: linear-gradient(90deg, rgba(63, 94, 251, 0.857581) 30%, rgba(131, 86, 204, 0.846376) 48%, rgba(252, 70, 107, 0.80716) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc466b", GradientType=1);
}

header .Logo {
  border: #000 outset 0.3125em;
  border-radius: 1.5em;
  animation-name: Logo;
  animation-delay: 0s;
  animation-duration: 3s;
  margin-top: 2em;
}

@keyframes Logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

header h1 {
  color: #000;
  font-family: 'Caveat', cursive;
  font-size: 3em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

header .Logan {
  color: #000;
  font-family: 'Caveat', cursive;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.MainNav {
  margin: 0.1em 0em;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
  box-shadow: 0 2px 5px #000;
}

.MainNav a {
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.25em;
  color: #000;
}

.MainNav a:hover {
  background-color: #ffffff;
  transition: 1s;
  transform: scale(1.1);
}

.MainNav a:hover {
  background-color: #ffffff;
  transition: 1s;
  transform: scale(1.1);
}

.MainNav .LogoMini {
  margin: o;
  width: 60px;
  height: 60px;
  border: #000 outset 0.2em;
  border-radius: 1em;
}

.Fotos {
  margin: 0.2em 0em 5em 0em;
  border: 0.5em #3f5efb;
  border-style: outset;
}

.Fotos .carousel-inner {
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.Galeria img {
  margin: 8em 2em 2em 2em;
  width: 90%;
  height: 90%;
  border-color: #000;
  border: 0.4em black;
  border-style: outset;
  border-radius: 0.5em;
}

.Galeria img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.Galeria p {
  margin-top: 3em;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 2.3em;
}

.Video iframe {
  margin: 20em 5em;
  border: 0.4em black;
  border-style: solid;
  border-radius: 0.5em;
  object-fit: fill;
}

footer {
  background-color: #292929;
}

footer .LogoFooter img {
  height: 8em;
  width: 8em;
}

footer .Links {
  list-style: none;
  margin-top: 1em;
}

footer .Links a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-family: 'Caveat', cursive;
  font-size: 2em;
  font-weight: bold;
  margin: 0.2em;
}

footer .Links a:hover {
  transition: 1s;
  transform: scale(1.3);
}

footer .SocialMedia h2 {
  font-family: 'Caveat', cursive;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
}

footer .SocialMedia ul {
  list-style: none;
}

footer .SocialMedia ul li {
  margin: 1em;
}

footer .SocialMedia ul li a i {
  font-size: 2em;
}

footer .SocialMedia .Redes--facebook {
  color: #202097;
}

footer .SocialMedia .Redes--instagram {
  color: rgba(175, 37, 101, 0.938);
}

footer .SocialMedia .Redes--twitter {
  color: #38b9c5;
}

.ProductosNav {
  display: flex;
  align-items: center;
  align-content: center;
}

.GaleriaProductos article {
  width: auto;
  height: auto;
  margin-top: 8em;
  margin-bottom: 8em;
}

.GaleriaProductos article img {
  width: 90%;
  height: 90%;
  border: #000 0.4em;
  border-style: outset;
  border-radius: 0.5em;
}

.GaleriaProductos article img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.GaleriaProductos article p {
  margin-top: 1em;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 2em;
}

.StoreLocator {
  margin-bottom: 8em;
}

.StoreLocator iframe {
  border-radius: 0.5em;
}

.StoreLocator div {
  margin-left: 3em;
}

.StoreLocator div p {
  margin: 1.25em;
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
}

.Fundador {
  margin: 1em 1em 7em 1em;
  border: 0.5em #3f5efb;
  border-style: solid;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.Fundador__Titulo {
  color: #000;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

.Fundador__Texto {
  text-align: justify;
  word-spacing: 0.1px;
  word-wrap: break-word;
}

.Origen {
  margin: 1em 1em 7em 1em;
  border: 0.5em #3f5efb;
  border-style: solid;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.Origen__Titulo {
  color: #000;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

.Origen__texto {
  text-align: justify;
  word-spacing: 0.1px;
  word-wrap: break-word;
}

.Preguntas {
  margin: 1em 1em 7em 1em;
  border: 0.4em black;
  border-style: solid;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.Preguntas__Titulo {
  color: #000;
  text-decoration: underline;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

.Preguntas__Frecuentes {
  list-style-position: inside;
  font-weight: bold;
}

.TalleHombre {
  margin: 8em 0em;
}

.TalleHombre div h3 {
  color: #000;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  margin: 2em;
}

.TalleHombre div img {
  padding: 2em;
  border: 0.4em black;
  border-radius: 0.5em;
  border-style: solid;
}

.TalleHombre div .table {
  margin-top: 5em;
  border: 0.4em black;
  border-style: solid;
  width: 50%;
  background-color: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.TalleMujer {
  margin: 8em;
}

.TalleMujer h3 {
  color: #000;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  margin: 2em;
}

.TalleMujer img {
  padding: 2em;
  border: 0.4em black;
  border-radius: 0.5em;
  border-style: solid;
}

.TalleMujer div .table {
  margin-top: 5em;
  border: 0.4em black;
  border-style: solid;
  width: 50%;
  background-color: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.Login {
  margin: 1em;
  /*     div#login{
        border: $border-small;
        border-style: solid;
        border-radius: $border-radius-media;
    } */
}

.Login__fieldset {
  border: 0.2em #3f5efb;
  border-style: solid;
  border-radius: 0.5em;
}

html {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

html .Subtitutlos {
  color: #000;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  margin: 2em 0em;
}
/*# sourceMappingURL=style.css.map */