.TalleHombre {
    margin: 8em 0em;
    div{
        h3{
            color: $black;
            font-family: 'Caveat', cursive;
            font-weight: bold;
            margin: 2em;
        }
        img{
            padding: 2em;
            border: $border-media;
            border-radius: $border-radius-media;
            border-style: solid;
        }
    }
    div{
        .table{
            margin-top: 5em;
            border: $border-media;
            border-style: solid;
            width: 50%;
            background-color: rgb(238, 174, 202);
            background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
            background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
            background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);;
        }
    }

}

.TalleMujer {
    margin: 8em;
    h3{
        color: $black;
        font-family: 'Caveat', cursive;
        font-weight: bold;
        margin: 2em;
    }
    img{
        padding: 2em;
        border: $border-media;
        border-radius: $border-radius-media;
        border-style: solid;
    }
    div{
        .table{
            margin-top: 5em;
            border: $border-media;
            border-style: solid;
            width: 50%;
            background-color: rgb(238, 174, 202);
            background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
            background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
            background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);;
        }
    }
}