/* seccion general */

html {
    color: #1a1212;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(63, 94, 251);
    background: -moz-linear-gradient(90deg, rgba(63, 94, 251, 0.8575805322128851) 30%, rgba(131, 86, 204, 0.8463760504201681) 48%, rgba(252, 70, 107, 0.8071603641456583) 70%);
    background: -webkit-linear-gradient(90deg, rgba(63, 94, 251, 0.8575805322128851) 30%, rgba(131, 86, 204, 0.8463760504201681) 48%, rgba(252, 70, 107, 0.8071603641456583) 70%);
    background: linear-gradient(90deg, rgba(63, 94, 251, 0.8575805322128851) 30%, rgba(131, 86, 204, 0.8463760504201681) 48%, rgba(252, 70, 107, 0.8071603641456583) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc466b", GradientType=1);
}

/* seccion general */
.Logo {
    border: black outset 0.3125em;
    border-radius: 1.875em;
    animation-name: Logo;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes Logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


.LogoPos {
    display: flex;
    justify-content: center;
    margin: 1.875em;
}


a {
    color: black;
    text-decoration: none;
}


.Menu {
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
    padding: 0.3125em;
}

.Menu ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


.Menu ul li {
    list-style: none;
}

.Menu a {
    display: inline-block;
    padding: 0.7em;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}


.Menu a:hover {
    background-color: white;
    transition: 1s;
    transform: scale(1.3);
}

ul {
    color: #4b0909;
    list-style-position: outside;
    list-style: square;
}



.PieImag {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

.Enviar {
    color: #1192a3;
}

footer {
    text-align: center;
}

footer p {
    margin: 1.125em;
    padding: 1.125em;
}

/* seccion home */

.Home {
    display: grid;
    width: 100%;
    grid-template-areas:
        "header header header"
        "MenuPrincipal MenuPrincipal MenuPrincipal"
        "MenuSecundario Galeria Galeria"
        "MenuTerciario Video Video"
        "SocialMedia  Video Video"
        "footer footer footer";
    width: 100%;
    height: 100vh;
    margin: 0em;
}

header {
    grid-area: header;
}

nav#MenuPrincipal {
    grid-area: MenuPrincipal;
}

nav#MenuSecundario {
    grid-area: MenuSecundario;
}

section#Video {
    grid-area: Video;
}

section#Galeria {
    grid-area: Galeria;
}

aside#MenuTerciario {
    grid-area: MenuTerciario;
}

aside#SocialMedia {
    grid-area: SocialMedia;
}

footer {
    grid-area: footer;
}

h1 {
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 4.375em;
    font-weight: bold;
    text-align: center;
}

.Logan {
    text-align: center;
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    font-weight: bold;
}

.ListadoProductos {
    background-color: white;
    width: 18.75em;
    height: 43.75em;
    background-position: left;
    margin: 4.375em 1.25em 1.25em 1.25em;
    padding: 1.875em;
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.ListadoProductos ul {
    list-style: none;
}

.ListadoProductos ul li {
    margin: 0.625em;
    padding: 0.625em;
    border: 0.0625em;
}

.SocialMedia {
    background-color: white;
    width: 18.75em;
    background-position: left;
    margin: 1.5625em;
    padding: 1.875em;
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.SocialMedia ul li {
    list-style: none;
    margin: 1.5625em;
    padding: 1.25em;
}

.Contacto {
    background-color: white;
    text-align: center;
    list-style: none;
    width: 21.25em;
    background-position: left;
    margin: 1.25em;
    padding: 0.625em;
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.Contacto a {
    display: inline-block;
}

.Contacto a:hover {
    transition: 1s;
    transform: scale(1.3);
}

.Help {
    text-align: center;
    background-color: white;
    list-style: none;
    width: 21.25em;
    background-position: left;
    margin: 1.25em;
    padding: 0.625em;
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.Help a {
    display: inline-block;
}

.Help a:hover {
    transition: 1s;
    transform: scale(1.3);
}

.Talles {
    text-align: center;
    background-color: white;
    list-style: none;
    width: 21.25em;
    background-position: left;
    margin: 1.25em;
    padding: 0.625em;
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.Talles a {
    display: inline-block;
}

.Talles a:hover {
    transition: 1s;
    transform: scale(1.3);
}

.Galeria {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7.0em;
    margin-bottom: 1em;
}


.Galeria img {
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.Galeria img:hover {
    transform: scale(1.3);
    transition: 1s;
}

.Galeria p {
    text-align: center;
    font-weight: bold;
    font-size: 1.875em;
}

.Video {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Video iframe {
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

/* seccion productos */
.Indumentaria {
    background-color: white;
    width: 18.75em;
    height: 43.75em;
    background-position: left;
    margin: 4.375em 1.25em 1.25em 1.25em;
    padding-top: 1.25em;
    padding-bottom: 3.75em;
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.Indumentaria ul li {
    list-style: none;
    margin: 0.625em;
    padding: 0.3125em;
    border: 0.0625em;
}

.Productos {
    display: grid;
    width: 100%;
    grid-template-areas:
        "MenuProductos GaleriaProductos GaleriaProductos"
        "MenuProductos GaleriaProductos2 GaleriaProductos2";
    width: 100%;
    height: 100vh;
    margin: 0em;
}

header#Logo {
    grid-area: Logo;
}

nav#MenuPrincipal1 {
    grid-area: MenuPrincipal1;
}

nav#MenuSecundarioProductos {
    grid-area: MenuSecundarioProductos;
}

article#GaleriaProductos {
    grid-area: GaleriaProductos;
}

article#GaleriaProductos2 {
    grid-area: GaleriaProductos2;
}

.GaleriaProductos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4.375em;
}

.GaleriaProductos img {
    height: 31.25em;
    transition: 1s;
    border: black 0.3125em;
    border-style: outset;
    border-radius: 1.5625em;
}

.GaleriaProductos img:hover {
    transform: scale(1.2);
}

.GaleriaProductos p {
    text-align: center;
    font-weight: bold;
    font-size: 1.875em;
}

/* seccion about us */

.Conocenos {
    margin: 1.125em;
    padding: 1.125em;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 5em;
    font-weight: bold;
}

.Fundadores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3.125em;
    padding: 3.125em;
}

.Fundadores h2 {
    text-align: center;
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.625em;
    padding: 0.625em;
}

.Fundadores p {
    text-align: center;
    text-align: justify;
    text-decoration: solid;
    border: solid;
    border-color: black;
    margin: 3.75em 0.625em;
    padding: 6.25em;
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}


/* seccion storelocator */
.FindUs h2 {
    margin: 1.125em;
    padding: 1.125em;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 5em;
    font-weight: bold;
}

.Mapa {
    display: flex;
    font-weight: bold;
    align-content: center;
    justify-content: center;
}

.Mapa iframe {
    border-style: solid;
    border-radius: 1.25em;

}

.Mapa p {
    margin: 1.25em;
    font-size: 1.125em;
    text-decoration: underline;
    font-family: 'Caveat', cursive;
}

/* seccion login */
.Login {
    display: flex;
    margin: 1.25em;
    padding: 3.125em;
    color: black;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 12.5em;
    margin-bottom: 25em;
}

.Login fieldset {
    text-align: justify;
    font-weight: bold;
    border: solid 0.2em;
    border-color: black;
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.Login legend {
    padding: 0.5em;
    font-weight: bold;
    border: black solid;
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.Login fieldset div label {
    margin: 1.25em;
    padding: 1.25em;
}

.Login fieldset div input {
    margin: 1.25em;
    padding: 0.3125em;
}

/* seccion contacto */


.Contactanos h1 {
    margin: 1.125em;
    padding: 1.125em;
}

.Contactanos fieldset {
    display: flex;
    flex-direction: column;
    border: black solid;
    margin: 3em 16em;
    padding: 1em;
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}


.Contactanos fieldset label {
    align-content: stretch;
}

.Contactanos fieldset input{
    margin-left: 5em;
    margin-bottom: 1em;
}

.Contactanos fieldset legend {
    padding: 0.5em;
    font-weight: bold;
    border: black solid;
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.Contactanos fieldset input#Mensaje {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 50em;
    width: 50em;
}

/* seccion help */

.TeAyuda {
    margin: 1.125em;
    padding: 1.125em;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 5em;
    font-weight: bold;
}

.PreguntasFrecuentes {
    margin: 1.875em;
    padding: 1.875em;
    list-style: square;
}

article#Preguntas {
    border: solid;
    border-color: black;
    padding: 1.875em;
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.PreguntasFrecuentes h2 {
    text-align: left;
    margin: 1.875em;
    padding: 1.875em;
    text-decoration: underline;
    font-family: 'Caveat', cursive;
    font-size: 1.875em;
    color: black;
}

.PreguntasFrecuentes ul {
    margin: 1.875em;
    font-weight: bold;
    font-size: 1.5625em;
    text-align: justify;
}

.PreguntasFrecuentes ul li {
    margin: 1.875em;
    list-style: none;
    font-weight: normal;
    font-size: 1.25em;
}

.PreguntasFrecuentes article p {
    margin: 5.625em;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

/* seccion talles */
.Medidas {
    margin: 1.125em;
    padding: 1.125em;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 5em;
    font-weight: bold;
}

.Talle {
    display: flex;
    justify-content: space-evenly;
    margin: 2.5em;
    padding: 2.5em;
}

.Talle h2 {
    text-align: center;
    font-family: 'Caveat', cursive;
    color: black;
}

.Talle .Tablas {
    background-color: whitesmoke;
    border-style: solid;
    border: 18.75em;
    border-color: black;
    text-decoration: solid;
}

.Tablas tr td {
    margin: 1.25em;
    padding: 3.125em 3.125em;
    border-style: solid;
    border: 18.75em;
    border-color: #f00808e1;
}

th,
tr,
td {
    border: solid black 0.0625em;
}